<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

###### My name is **Marco Alvarado** and I am a systems engineer.

######  <i> I am interested in data science because I find it very interesting how data works and how it can affect the world. Besides, data can be found everywhere.</i>

### The small code shown below makes the addition of two numbers

In [3]:
n1 = 1
n2 = 2

suma = n1 + n2

print(suma)

3

<ol>
    <li>What is Data Science</li>
    <li>Tools for Data Science</li>
    <li>Data Science Methodology</li>
    <li>Databases and SQL for Data Science with Python</li>
</ol>


<table>
<tr>
<th>Name</th>
<th>Address</th>
<th>Salary</th>
</tr>

<tr>
<td>Marco</td>
<td>Brisbane</td>
<td>4000</td>
</tr>

<tr>
<td>Pedro</td>
<td>Sydney</td>
<td>5000</td>
</tr>
</table>


<a href="https://www.ibm.com/mx-es">Link to IBM</a>